<nav class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <h1 class="brand">
                <a href="#">I
                    <i class="fa fa-heart"></i>&nbsp;my city</a>
            </h1>
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/main')}">
                    <a href="#">Accueil</a>
                </li>
                <li ng-class="{active: isActive('/about')}">
                    <a href="#/apropos">A propos</a>
                </li>
                <li ng-class="{active: isActive('/contact')}">
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="home shadow-inset">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <h2 class="text-shadow">Trouver votre ville</h2>
                <p class="small text-shadow">Entrez le nom de votre ville pour découvrir tous les messages des habitants et après si vous le désirez, poster un message d'affection pour votre ville adoré.</p>
                <p>
                    <span class="search-input">
                        <i class="fa fa-search"></i>
                        <input ng-model="searchCity" placeholder="Chercher votre ville..." />
                    </span>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <div class="container">
        <div class="cities-listing grid row">
            <div ng-repeat="city in cities | filter:searchCity" class="city-square col-md-4 col-sm-4 {{city.city_name | lowercase}}">
                <a href="#/city/{{city.id}}">
                    <span class="img-name-container valign">
                        <span class="img-name valigned text-shadow">{{city.city_name}}</span>
                    </span>
                    <img ng-src="{{city.city_picture}}" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</div>
